@import "../styles/libs.scss";

.login {
    height: 100vh;
    width: 100vw;
    background-color: $color_bright;
    position: fixed;
    top: 0px;
    &__closebtn{
        display: flex;
        justify-content: flex-end;
        margin: 10px;
    }
    &__box{
        height: 600px;
        width: 800px;
        display: flex;
        position: relative;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 1px solid #dc3545;
    }
    &__box_right{
        width:400px;
        height: 600px;
        background-color: $color_primary;
        color: $color_bright;
        border: 1px solid #dc3545;
        h1{
            position: relative;
            font-size: getEM(60);
            text-align: center;
            top: 20%;
            color: $color_bright;
        }
    }
}

.loginbox{
    width: 400px;
    height: 600px;
}

.login_left_box{
    position: relative;
    top: 50%;
    transform: translate(0%,-50%);
    width: 300px;
    margin: auto;
}

.login_container{
    width: 400px;
}

.otp{

  &__heading{
    text-align: center;

  }
  &__input{
    background: transparent;
    border: none;
    width: 100%;
    border-bottom: 1px solid #808080;
    outline: none;
    height: 25px;
    font-size: 20px;
    color: #808080;
  }
  &__resend{
    display: flex;
    justify-content: center;
    align-items: baseline;
    cursor: pointer;
 padding-top: 16px;

  }
  &__verify{  
 padding-top: 24px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    border:none;
    background:$color_primary;
    font-size: 20px;
    color: #FFFFFF;}
    &__goback{
      font-size: 18px;
      justify-content: center;
      display:flex;
      padding-top:16px;
      color: #808080;
    }
   &__gobackbutton{
    color:$color_primary;
    cursor: pointer;
    
   }
}

.loginModal{
  position: fixed;
  z-index: 999;
  background: white;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
 &__center{
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);
  margin: auto;
  left: 0;
  right: 0;
  width: 50%;
  max-width: 400px;
 }
 &__inputfeildtext{
   color: #808080;
   
   font-size: 16px;
   
 }
 &__inputtext{
   display: flex;
   label{
     font-weight: unset;
   }
 }

 
 @media(max-width: $svp){
  &__center{
    width: 80%;
  }
 }
}


.Signin{
  &__termstext{
    width: 87%;
    white-space: none;
    white-space: break-spaces;
    text-align: initial;
  }
  &__heading{
    text-align: center;
    margin-bottom: 24px;
    margin-top: 10vh;
  }
  &__phoneoremial{
    display: flex;
    border-bottom: 1px solid #AAAAAA;
    align-items: baseline;
  }
  &__email{
    text-align: left;
   }
   &__option{
    border: none;
    background: white;
    width: 20px;
    padding-bottom: 3px;
   }
   &__countrycode{
    white-space: nowrap;
    font-size: 20px;
    color: #808080;
    font-weight: 400;
   }
  &__inputbox{
    width:100%;
    height:48px;
    border: 0px solid ;
  
    outline: none;
    color: #000000;
    font-size: 20px;
  }
  &__terms{
    margin-top: 24px;
    display:flex;
    gap:15px;
    font-size:14px;
    align-items: flex-start;
    input{
      height: 18px;
      width: 35px;
     
    }
    input[type="radio"], input[type="checkbox"] {
        margin: 0;
        outline: none;
    }
  }
  &__next{
    margin-top: 24px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    border:none;
    background: rgba(0, 0, 0, 0.37);
    font-size: 20px;
    color: #FFFFFF;

  }
  &__next1{
    margin-top: 24px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    border:none;
    background:#246AFF;
    font-size: 20px;
    color: #FFFFFF;

  }
  &__siginoption{
    margin-top: 24px;
    text-align: center;
    color: #808080;
    font-size: 16px;
  }
 &__googlelogin{
   font-size: 20px;
   text-align: center;
   color: #000000;
   font-weight: 500;
   margin-top:24px ;
   display:flex;
   justify-content: space-around;
 }
 &__googlebutton{
   box-shadow: 0px 1px 16px 2px rgba(0, 0, 0, 0.08);
   align-items: center;
   justify-content: center;
   background: #FFFFFF;
   padding: 20px 10px;
   display: flex;
   outline: none;
    border: 0;
    border-radius: 10px;
 }
 &__pass{
  text-align: left;
  margin-top: 24px;
 }
 &__inputboxpass{
  width:100%;
  height:48px;
  border: 0px solid ;
  background: #FFFFFF;
 
  outline: none;
  color: #000000;
  font-size: 20px;
}
&__finishsignin{
  margin-top: 24px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  border:none;
  background:$color_primary;
  font-size: 20px;
  color: #FFFFFF;
}
&__passbox{
  display: flex;
  border-bottom: 1px solid $color_border;
  align-items: center
}
&__newuser{
  text-align: center;
  color: #808080;
  font-size: 1rem;
  margin-top: 24px;
}
&__signup{
  color:$color_primary;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

}

.Newregister{
  &__heading{
    text-align: center;
    margin-bottom: 24px;
    margin-top: 7vh;
  }
  &__name{
    text-align: left;
    font-size: 18px;
  }
  &__nameinput{
    width:100%;
    height:40px;
    border: 0px solid ;
    // border-bottom: 1px solid #AAAAAA;
    outline: none;
    font-size: 20px;
  }
  &__nameinput__password{
    width:100%;
    height:30px;
    border: 0px solid ;
    border-bottom: 1px solid $color_border;
    outline: none;
    font-size: 20px;
  }
  &__nameinput__passwor{
    width:100%;
    height:30px;
    border: 0px solid ;
    outline: none;
    font-size: 20px;
  }
  &__space{
    margin-top: 12px;
  }
  &__nameinput__all{
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color_border;
  }
  &__phone{
    display: flex;
    border-bottom: 1px solid $color_border;
    align-items: center;
  }
  &__phoneinput{
    width:100%;
    height:48px;
    border: 0px solid ;
    outline: none;
    font-size: 20px;
  }
  &__password{
    display: flex;
    border-bottom: 1px solid $color_border;
    align-items: center;
  }
  &__passwordinput{
    width:100%;
    height:48px;
    border: 0px solid ;
    outline: none;
    font-size: 20px;
  }
  &__procedtoOtp{
    margin-top: 24px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    border:none;
    background: $color_primary;
    font-size: 20px;
    color: #FFFFFF;
  }
  @media (max-width: $svp){
    &__space{
      margin-top: 5px;
    }
  }
}

.googleicon{
  height: 32px;
  width: 32px;
  padding-right: 10px;
}
.alignEye{
  display: flex;
  align-items: center;

}
.numberInputAlign{
  display: flex;
  align-items: center;
}

.login_text_light{
  color: $textColor_lighter;
}

.register_with{
  margin-top: 24px;
  color:#808080
}

.parent_call_back{
  cursor: pointer;
}

.login_close_button{
  position: relative;
  // left: 100%;
  color:#808080;
  float: right;
}

.Signin__googlelogin{
  >div{
    width: 100%;
  }
  button{
    width: 100%;
    height: 50px;
  }
}

.login_forgort_section{
  margin-bottom: 10px;
}

.sign_in_box{
  padding: 10px;
}
.Signin__forgotpass{
  margin-top: 24px;
  color: $color_primary;
  cursor: pointer;
}
.resetPassword{
  margin-bottom: 24px;
}
.updatepass{
  padding-bottom: 24px;
}
.update_input{
  border-bottom: 1px solid $color_border;
}
.update_clicable{
  cursor: pointer;
}

.webview .Signin__googlelogin{
  display: none !important;
}

.noDisplay{
  display: none;
}